
{% extends "layout.html" %}
{% block title %}Internship Platform{% endblock %}
{% block page %}Internship Platform{% endblock %}

{% block content %}

  
  <ul class="collection with-header">
  
  <li class="collection-header"><h4>Applicants</h4></li>

    {% for applicant in applicant_data %}

      <!-- Only display applicants that are not registered and not rejected -->

      {% if applicant.registered == False %}

        {% if applicant.rejected == False %}

          <li class="collection-item"> 

            <ul class="collection" style="padding-bottom: 100px;">

              <li class="collection-item avatar">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" class="circle" style="margin-top: 80px;">
                <br><br><br>
                <span style="margin-top: 100px;">{{applicant.first_name}} {{applicant.last_name}}</span>
                <p>{{applicant.email}} <br>
                   {{applicant.phone}}
                </p>

                <ul class="secondary-content">
                <br><br>
                <li style="padding: 5px;"><div><a class="btn" href="{{applicant.resume}}">View Resume</a></div></li>
                <li style="padding: 5px; padding-left:30px;"><form action="/addapplicant/{{applicant.id}}"><button type="submit" name="accept" class="btn">Accept</button></form></li>
                <li style="padding: 5px; padding-left:32px;"><form action="/rejectapplicant/{{applicant.id}}"><button type="submit" name="reject" class="btn" style="background-color:red;">Reject</button></form></li>
                </ul>
              </li>

            <!-- <li class="collection-item"><button class="btn" href="{{applicant.resume}}">View Resume</button></li>
            <li class="collection-item"><form action="/addapplicant/{{applicant.id}}"><button type="submit" name="accept" class="btn">Accept</button></form></li>
            <li class="collection-item"><form action="/rejectapplicant/{{applicant.id}}"><button type="submit" name="reject" class="btn" style="background-color:red;">Reject</button></form></li> -->
          
            </ul>

          </li>

        {% endif %}

      {% endif %}

    {% endfor %}

  </ul>

  <!-- For project shortlist, only show registered applicants -->

  <ul class="collection with-header">

    <li class="collection-header"><h4>Project shortlist</h4></li>

    {% for applicant in applicant_data %}

      {% if applicant.registered == True %}

        <!-- Also ensure applicant was not rejected -->

        {% if applicant.rejected == False %}

        <ul class="collection" style="padding-bottom: 10px;">

          <li class="collection-item avatar">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" class="circle">
            <span class="title">{{applicant.first_name}} {{applicant.last_name}}</span>
            <p>{{applicant.email}} <br>
               {{applicant.phone}}
            </p>

            <ul class="secondary-content">

            <p>{{applicant.internship.internship_title}}</p>
            </ul>
          </li>

        
        </ul>

        {% endif %}

      {% endif %}

    {% endfor %}

  </ul>


  <!-- <ul class="collection with-header">
    <li class="collection-header"><h4>Project shortlist</h4></li>
    <li class="collection-item">Applicant 1</li>
    <li class="collection-item">Applicant 2</li>
    <li class="collection-item">Applicant 3</li>
    <li class="collection-item">Applicant 4</li>
  </ul> -->

  <!-- For rejected list, only show rejected applicants -->

  <ul class="collection with-header">

    <li class="collection-header"><h4>Rejected list</h4></li>

    {% for applicant in applicant_data %}

      {% if applicant.rejected == True %}

      <ul class="collection" style="padding-bottom: 10px;">

        <li class="collection-item avatar">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small_2x/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" class="circle">
          <span class="title">{{applicant.first_name}} {{applicant.last_name}}</span>
          <p>{{applicant.email}} <br>
             {{applicant.phone}}
          </p>

        </li>

      </ul>

      {% endif %}

    {% endfor %}

  </ul>

  <!-- <ul class="collection with-header">
    <li class="collection-header"><h4>Rejected list</h4></li>
    <li class="collection-item">Applicant 1</li>
    <li class="collection-item">Applicant 2</li>
    <li class="collection-item">Applicant 3</li>
    <li class="collection-item">Applicant 4</li>
  </ul> -->

{% endblock %}

