{% extends "layout.html" %}
{% block title %}Company{% endblock %}
{% block page %}Company{% endblock %}

{{ super() }}

{% block content %}


<div class="row" style="background-color: white; padding:30px; padding-top:0px; padding-bottom:30px; border-radius: 10px; box-shadow: 5px 5px;">
    <div class="container center">
    <div class="row" style="margin-top: 10%;">
        <div class="col s12 m10 offset-m1">
            <h1>Company Submission </h1>   <!--here -->
            <p>This is where companies can submit thier internship projects</p>
            <!-- <p>{{message}}</p> -->
        </div>
    </div>
    </div>
    <form class="col s12" method="POST" action="/companyapply">
        <div class="input-field col s6">
            <i class="material-icons prefix">edit</i>
            <input id="internship_title" id="internship_title" name="internship_title"  type="text" class="validate">
            <label for="internship_title">Internship Title</label>
          </div>          
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="company_name" name = "company_name" type="text" class="validate">
        <label for="company_name">Company Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">map</i>
        <input id="location" name="location"  type="text" class="validate">
        <label for="location">Location</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">money</i>
        <input id="stipend" name="stipend" type="text" class="validate">
        <label for="stipend">Salary</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">calendar_today</i>
        <input id="start_date" name="start_date" type="text" class="validate">
        <label for="start_date">Start Date</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">watch</i>
        <input id="duration" name="duration" type="text" class="validate">
        <label for="duration">Duration</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" >Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
 
  
  
  
  
            
{% endblock %}
