{% extends "layout.html" %}
{% block title %}Internship Platform{% endblock %}
{% block page %}Internship Platform{% endblock %}

{{ super() }}

{% block content %}
    <h1>Internships</h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <!-- <p>This is a boileplate flask application which follows the MVC pattern for structuring the project.</p> -->
    {% for internship in internships %}
    <p><span>Company</span>: {{ internship.company_name }}</p>
    {% else %}
    <p>No internships found.</p>
    {% endfor %}
{% endblock %}