{% extends "layout.html" %}
{% block title %}Internship Platform{% endblock %}
{% block page %}Internship Platform{% endblock %}

{{ super() }}

{% block content %}

    <h1>Internship Listings</h1>
    <div class="search-bar">
        <form action="{{ url_for('index_views.search_internships') }}" method="get">
            <input type="text" id="search" name="search" placeholder="Search internships...">
            <button type="submit">Search</button>
        </form>
    </div>
  {% if is_authenticated %}
    <p> Welcome {{current_user.username}} </p>
  {% endif %}
  <div class="card-container">
  {% for internship in paged_internship.items %}
      <form>
        <div class="card">
          <div class="card-content">
            <h3>{{ internship.internship_title }}</h3>
            <p><span style="font-weight: bold;">Company</span>: {{ internship.company_name }}</p>
            <p><span style="font-weight: bold;">Location</span>: {{ internship.location }}</p>
            <p><span style="font-weight: bold;">Start Date</span>: {{ internship.start_date }}</p>
            <p><span style="font-weight: bold;">Duration</span>: {{ internship.duration }}</p>
            <p><span style="font-weight: bold;">Salary</span>: {{ internship.stipend }}</p>
            <div class="card-action">
              <a class="right" href="/identify/{{internship.id}}">Apply Now</a>     <!--here -->
            </div>
          </div>
        </div>
      </form>
  {% else %}
      <p>No internships found.</p>
  {% endfor %}

  <ul class="pagination">
      {% if paged_internship.has_prev %}
          <li class="waves-effect">
            <a href="{{ url_for('index_views.search_internships', page=paged_internship.prev_num) }}">
                <i class="material-icons">chevron_left</i>
            </a>
          </li>
      {% else %}
        <li class="disabled">
            <a href="#!">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% endif %}
    {% for page_num in paged_internship.iter_pages() %}
        {% if page_num %}
            {% if page_num == paged_internship.page %}
                <li class="active blue">
                    <a href="#!">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="waves-effect">
                    <a href="{{ url_for('index_views.search_internships', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% else %}
            <li class="disabled">
                <a href="#!">...</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if paged_internship.has_next %}
        <li class="waves-effect">
            <a href="{{ url_for('index_views.search_internships', page=paged_internship.next_num) }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% else %}
      <li class="disabled">
          <a href="#!">
              <i class="material-icons">chevron_right</i>
          </a>
      </li>
    {% endif %}
  </ul>

</div>
{% endblock %}